<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Micro S3 Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.css">
  </head>
  <body>
    <form action="https://s3.{{ config.s3.region }}.amazonaws.com/{{ config.s3.bucket }}/" id="upload" class="dropzone"></form>

    <script src="{{ asset('_dist/common.js') }}"></script>
  </body>
</html>
