<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ config.siteTitle }}</title>
    <link rel="stylesheet" href="{{ asset('_dist/common.css') }}">
    <style>
      .message-notice {
        font-size: 9px;
        margin-top: 10px;
        display: block;
      }
      {% if barColor %}
      .upload-single .progress .bar { background-color: {{ barColor }}; }
      {% endif %}
      {% if bgColor %}
      body { background-color: {{ bgColor }}; }
      {% endif %}
    </style>
  </head>
  {# <body>
    <form action="https://s3.{{ config.s3.region }}.amazonaws.com/{{ config.s3.bucket }}/" id="upload" class="dropzone"></form>

    <script src="{{ asset('_dist/common.js') }}"></script>
  </body> #}

  <body class="upload-single">
    <button class="clear" id="clear">&times;</button>
    <form id="uploader" action="https://s3.{{ config.s3.region }}.amazonaws.com/{{ config.s3.bucket }}/" class="dropzone"></form>
    <div class="status-container" id="status">Uploading...</div>
    <div class="progress" id="progress"><div class="bar"></div></div>
    <div id="results"></div>
    <script type="text/javascript">
      window.uploaderSetup = {
        fileTypes: '{{ allowedFiles }}',
        {% if defaultImage -%}
        defaultImage: '{{ defaultImage }}',
        {%- endif %}
        defaultText: '{{ defaultText }}',
        {% if inputId -%}
        inputId: '{{ inputId }}',
        {%- endif %}
        noticeText: '{{ noticeText }}'
      };
    </script>
    <script src="{{ asset('_dist/single.js') }}"></script>
  </body>
</html>
